*{
  margin:0px;
  padding:0px;
}
.container-recipes{
  width:50%;
  border-right: 1px solid black;
  min-height:100vh;
}
.container-recipes button{
margin-top:1rem;
}
.container-recipe{
  border-bottom:1px solid black;
  padding-bottom:2rem;
}
.container-title{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.container-title h3{
  margin-bottom:1.3rem;
}
.container-title button{
  margin-right:1.2rem;

}
.ingredients-container {
  margin:1.2rem 0;
}
.ingredient-container{
display:block;

}
